<h1>Listing Games</h1>



<h2>Games That You Are Hosting</h2>
<%= render 'showhost' %>
<br>
<h2>Upcoming Games</h2>
<%= render 'showrsvp' %>
<br>
<h2>Games That You Have Been Invited To</h2>
<%= render 'showinvited' %>
<br>

<%= link_to 'New Game', new_game_path %>
